.topnav {
    overflow: hidden;
    background-color: #ed5d39;}
  
    .topnav a {
      float: left;
      display: block;
      color: rgb(255, 253, 253);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  
    .topnav input {
    
      width: 800px;
      height: 6px;
      padding: 12px;
    }
  
    .floatL {float: left;}